.navbar {
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-variant: small-caps;
	margin-bottom: 0;
	border-radius: 0;
	background-color: #551A8B;
	padding: 1.8% 0;
	font-size: 1.15em;
	border: 0;
	color: black;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #FFF;
		}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    	color: #551A8B;
    	background-color:white;
		}
}

.glyphicon[data-count]:after{
	position:absolute;
	top: -14px;
	left: 8px;
	content: attr(data-count);
	font-size:62%;
	padding: .65em;
	border-radius: 100px;
	line-height: .65em;
	color: #551A8B;
	text-align: center;
	min-width: 2em;
	font-weight: bold;
	background: white;
	border: 1px solid #551A8B;
}


.glyphicon{
	font-size:17px;
}

.navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0 15px 5px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	color: white;
}

.mesaj2{
	font-family: "Montserrat", sans-serif;
	font-variant: small-caps;
	text-transform: uppercase;
	margin-top: 325px;
}

.dropdown-menu {
	background-color: #551A8B;
	color: white;
	font-size: 0.9em;
}

.dropdown-menu li a {
	padding: 8px 12px;
	text-decoration: none;
	display: block;
}

.carousel-inner {
	height: 100%;
	max-width: 100%;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
	.navbar-inverse .navbar-nav .active a:hover {
	color: white;
	background-color: #551A8B;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: white;
	color: #551A8B;
}

@-webkit-keyframes slide 
{ 
	0% {
	opacity: 0;
	-webkit-transform: translateY(70%);
	}

	100%
	{
	opacity: 1;
	-webkit-transform: 
	translateY (0%);
	}
}

#h1 {
	border-style: solid;
	background-color: #551A8B;
}

h4 {
	font-size: 1.5em;
	font-family: "Montserrat";
	text-align: center;
}

.carousel-caption {
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
}

#icon {
	max-width: 55px;
	margin: auto;
}

.container {
	margin: 4% auto;
	margin-top: 20px;
}

#tabel {
	display: none;
	padding: 9px;
	border-collapse: collapse;
	font-size: 0.95em;
	margin: auto;
	text-align: center;
}

div.align1 {
	position: relative;
	min-height: 1px;
	padding-left: 12px;
	padding-right: 12px;
	float: left;
	width: 34%;
}

div.alignLeft12 {
	margin-left: 16%;
}

div.alignRight12 {
	margin-right: 16%
}

.buttonAlign {
	margin-left: 30%;
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}

.buttonAlign1 {
	margin-left: 26%;
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}

#tabel td {
	padding: 7px;
	border: 1px solid #551A8B;
	color: black;
}

#tabel th {
	padding: 7px;
	border: 1px solid #551A8B;
	font-family: "Montserrat", sans-serif;
	font-variant: small-caps;
	color: white;
	text-align: center;
}


footer {
	width: 100%;
	padding: 1%;
	font-size: 15px;
	background-color: #551A8B;
	color: white;
}

.btn {
	font-size: 18px;
	color: #fff;
	padding: 12px 22px;
	background: #551A8B;
	border: 2px solid #fff;
}

.btn2 {
	font-size: 14px;
	background-color: #551A8B;
	padding: 8px 18px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
}

#icon2 {
	margin: auto;
	max-width: 110px;
}

label {
	float: left;
}

#icon3 {
	padding-top: 15px;
	max-width: 500px;
	padding-left: 45px;
}

.panel-login {
	border-color: #551A8B;
}

.panel-login>.panel-heading {
	color: #000;
	background-color: #FFF;
	border-color: #FFF;
	text-align: center;
}

.panel-login>.panel-heading a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	font-variant: small-caps;
}

.panel-login>.panel-heading a.active {
	color: #551A8B;
	font-size: 20px;
}

.panel-login>.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"] {
	height: 35px;
	border: 1px solid #DDD;
	font-size: 14px;
}

.panel-login input:hover {
	outline: none;
	box-shadow: none;
	border-color: #CCC;
}

.btn-login {
	background-color: #551A8B;
	color: #FFF;
	font-size: 14px;
	height: auto;
	border-radius: 10px;
	font-weight: normal;
	padding: 12px 0;
	border-color: #FFF;
}

.btn-login:hover {
	color: #551A8B;
	border: 1px solid #000;
	background-color: #FFF;
}

.btn-register {
	background-color: #551A8B;
	color: #FFF;
	font-size: 14px;
	height: auto;
	border-radius: 10px;
	font-weight: normal;
	padding: 12px 0;
	border-color: #FFF;
}

.btn-register:hover {
	color: #551A8B;
	border: 1px solid #000;
	background-color: #FFF;
}

@media ( max-width :1000px) {
	.carousel-caption {
		display: none;
	}
	#icon2 {
		max-width: 0px;
	}
	#icon {
		max-width: 0px;
	}
	
	#icon3 {
		max-width: 350px;
	}
	
	h4 {
		font-size: 1.7em;
	}
	ul li a {
		font-size: 0.8em;
	}
	#tabel {
		margin-left: 100px;
	}
	img[src="Macarons.jpg"] {
		width: 715px;
	}
}

@media ( max-width :1100px) {
	#icon2 {
		max-width: 0px;
	}
	#icon {
		max-width: 0px;
	}
	.carousel-caption {
		display: none;
	}
}

@media ( max-width :600px) {
	#icon2 {
		max-width: 0px;
	}
	#icon {
		max-width: 0px;
	}
	
	#icon3 {
		max-width: 250px;
	}
	#tabel {
		margin-left: 5px;
	}
}

@media ( max-width :900px) {
	#icon2 {
		max-width: 0px;
	}
	#icon {
		max-width: 0px;
	}
	
	#icon3 {
		max-width: 250px;
	}
	#tabel {
		margin-left: 5px;
	}
	ul li a {
		font-size: 0.7em;
	}
}

.right #mesaj
{
	text-align: center;
	color:red;
}

.container3 {
	width: 70%;
	height: 500px;
	background: #fff;
	margin: 0 auto;
	border: 2px solid #fff;
	box-shadow:  0 0px 10px #000;
}

.container3 .left {
	float: left;
	width: 50%;
	height: 497px;
	background-size: cover;
	box-sizing: border-box;
}

.container3 .right {
	float: right;
	width: 50%;
	height: 400px;
	box-sizing: border-box;
}

.formBox {
	width: 100%;
	padding: 140px 40px;
	box-sizing: border-box;
	height: 400px;
	background: #FFF;
}

.formBox label {
	float: left;
	margin-bottom: 12px;
	font-weight: bold;
	color: #551A8B;
}

.formBox input {
	width: 100%;
	margin-bottom: 20px;
}

.formBox input[type="text"], .formBox input[type="password"] {
	border: none;
	border-bottom: 1px solid #551A8B;
	outline: none;
	height: 35px;
}

.formBox input[type="text"]:focus, .formBox input[type="password"]:focus
	{
	border-bottom: 1px solid #000;
}

.formBox input[type="submit"]:hover {
	background: #000;
	color: white;
}

.formBox input[type="submit"] {
	margin-top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #551A8B;
	cursor: pointer;
	border-radius: 5px;
}

.formBox a {
	color: #262626;
	font-size: 12px;
	font-weight: bold;
}

.formBoxRegister {
	width: 100%;
	padding: 20px 40px;
	box-sizing: border-box;
	height: 400px;
	background: #FFF;
}

.formBoxRegister label {
	float: left;
	margin-bottom: 12px;
	font-weight: bold;
	color: #551A8B;
}

.formBoxRegister input {
	width: 100%;
	margin-bottom: 20px;
}

.formBoxRegister input[type="text"], .formBoxRegister input[type="password"],
	.formBoxRegister input[type="email"] {
	border: none;
	border-bottom: 1px solid #551A8B;
	outline: none;
	height: 35px;
}

.formBoxRegister input[type="text"]:focus, .formBoxRegister input[type="password"]:focus,
	.formBoxRegister input[type="email"]:focus {
	border-bottom: 1px solid #000;
}

.formBoxRegister input[type="submit"]:hover {
	background: #000;
	color: white;
}

.formBoxRegister input[type="submit"] {
	margin-top: 20px;
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #551A8B;
	cursor: pointer;
	border-radius: 5px;
}

.container4 {
	width: 70%;
	height: 650px;
	background: #fff;
	margin: 0 auto;
	border: 2px solid #fff;
	box-shadow: 0 0px 10px #000;
}

.container4 .left {
	float: left;
	width: 50%;
	height: 647px;
	background-size: cover;
	box-sizing: border-box;
}

.container4 .right {
	float: right;
	width: 50%;
	height: 400px;
	box-sizing: border-box;
}
