.glyphicon[data-count]:after{
	position:absolute;
	top: -14px;
	left: 8px;
	content: attr(data-count);
	font-size:62%;
	padding: .65em;
	border-radius: 100px;
	line-height: .65em;
	color: #551A8B;
	text-align: center;
	min-width: 2em;
	font-weight: bold;
	background: white;
	border: 1px solid #551A8B;
}


.glyphicon{
	font-size:17px;
}